/* CSS REMEDY */
*, *::after, *::before {
	box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}

img{
	display: block;
	max-width: 100%;
}
body {
	margin: 0em;
	padding: 0em;
  }

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/* CUSTOM PROPERTIES */
:root { 
	--navigatie-background: rgba(29, 29, 31, 0.97);
	--primaire-kleur:black;
	--secondary-kleur: white;
	--light-sectionbackground: #fbfbfd;
	--link-kleur:#06c;
	--ptekstkleur:#6e6e73;
	--footer-background: #f5f5f7;
	--footer-atekstkleur: #424245;
	--footer-border-kleur: #d2d2d7;
}

/* jouw code */
@font-face {
	font-family:SFR;
	src: url(fonts/SF-Pro-Text-Regular.otf);
}

/* NAVIGATIE */
header {
max-height:3em;
  padding:0 1em;
  line-height:1; 
  background-color: var(--navigatie-background);
  
  display:flex;
  justify-content:space-between;
  align-items:center;
  
  position:sticky;
  top:0;
}

/* alle links in de header */
nav a {
  padding:.5em 0;
  color: white;
  text-decoration:none;
}

/* BUTTONS */
header button {
  padding:.5em;
  background-color: #ffffff00;
  border:none;
}

header img{
	height:4em;
}

header button img{
  height:1.5em;
}

/* HAMBURGERMENU BUTTON */
header > button {
  order:-1;
}

/* SLUIT BUTTON */
nav button {
 justify-self:start;
}

/* HET MENU */
nav {
  padding:1em;
  display:grid;
  align-content:start;
  gap:1em;
  background-color: var(--primaire-kleur);
  
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  
  transform:translatey(-100%);
  
  transition:transform .3s;
  z-index: 5;
}

nav.toonMenu {
  transform:translatex(0);
}

/* LIJST MET LINKS */
nav ul { 
  margin:2em; 
  padding:0em;
  list-style:none;
}

/* EEN LINK IN DE LIJST */
nav a {
  display:flex;
  border-bottom:solid 1px var(--secondary-kleur);
}

/* MAIN beide */
main section{
	text-align: center;
	padding-top: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

p,a,ol{
	font-family: SFR, Arial, Helvetica, sans-serif;
	font-size: 1em;
    line-height: 1.21053;
}

a{
	color: var(--link-kleur);
	text-decoration: none;
}
main a:hover, footer a:hover{
	text-decoration:underline;
  }


/* MAIN 1e pagina */

.home-pagina h1 {
	font-family:SFR, Arial, Helvetica, sans-serif;
	font-size: 2em;
	line-height: 1.125;
	letter-spacing: .004em;
	color: var(--secondary-kleur);
}

.home-pagina h2 {
	font-family: SFR, Arial, Helvetica, sans-serif;
	font-size: 2em;
	line-height: 1.125;
    letter-spacing: .004em;
}

.home-pagina section img{
	width: 90%;
}

.home-pagina main section h2 img{
	width: 100%;
}


.home-pagina main>section:first-of-type p{
	color: #6e6e73;
}

.home-pagina main section:nth-of-type(2),
.home-pagina main section:nth-of-type(4),
.home-pagina main #section section:nth-of-type(2),
.home-pagina main #section section:nth-of-type(4)
{
	background-color: var(--light-sectionbackground);
	color: var(--primaire-kleur);
}

.home-pagina main section:first-of-type,
.home-pagina main section:nth-of-type(3),
.home-pagina main section:nth-of-type(5),
.home-pagina main #section section:first-of-type,
.home-pagina main #section section:nth-of-type(3)
{
	background-color: var(--primaire-kleur);
	color:var(--secondary-kleur) ;
}

.home-pagina main section p a{
	margin-left: 1em;
	margin-right: 1em;	
}
.home-pagina main section p img {
	width: 3em;
}

.home-pagina main #section section:nth-of-type(3) p:first-of-type{
	display: flex;
    align-items: center;
}

/* MAIN 2e pagina */
 /* https://codepen.io/shooft/pen/qBZPdGm?editors=1100*/
.iphone main ul:first-of-type {
	display:flex;
	overflow-x:auto;
	list-style:none;
	align-items: center;
	padding: 0.5em;
	z-index: -1;
	background-color: var(--light-sectionbackground);
	margin: 0em;
	justify-content: space-between;
}

.iphone main ul:first-of-type li{
	font-size: 0.7em;
	line-height: 1.3333733333;
	margin-left:0.5em;
	margin-right:0.5em;
	color: var(--primaire-kleur);
	font-family:SFR, Arial, Helvetica, sans-serif;
	flex-shrink:0;
	align-items:center;
	white-space: nowrap;
	display: flex;
    flex-flow: column nowrap;
}

.iphone main ul:first-of-type li:hover{
	color: var(--link-kleur);
}
.iphone main ul:first-of-type li img{
	width: 60%;
}

.iphone main section:first-of-type{
	background-color: var(--secondary-kleur);
	color: var(--primaire-kleur);
}

.iphone main section:nth-of-type(3){
	background-color: var(--light-sectionbackground);
	color: var(--primaire-kleur);
}

.iphone main section:nth-of-type(2)
{
	background-color: var(--primaire-kleur);
	color:var(--secondary-kleur) ;
}
.iphone section:first-of-type h2,
.iphone section:nth-of-type(2) h2{
	font-family: SFR, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	line-height: 1.125;
    letter-spacing: .004em;
}

.iphone section:first-of-type h3,
.iphone section:nth-of-type(2) h3,
.iphone section:nth-of-type(3) h3{
	font-family:SFR, Arial, Helvetica, sans-serif;
	font-size: 2.5em;
    -webkit-background-clip: text;
	background-clip: text;
    color: transparent;
	margin: 0.4em;
}
.iphone section:first-of-type h3{
	background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43);
}

.iphone section:nth-of-type(2) h3{
	background-image: linear-gradient(180deg,#ffb6ff,#b344ff);
}

.iphone section:nth-of-type(3) h3{
background-image: linear-gradient(90deg,#1e3791 0%,#2948b1 40%,#3153c6 55%,#385fda 60%);
}

.iphone section p:first-of-type{
	color: var(--ptekstkleur);
	font-size: 0.75em;
}

.iphone main section a:first-of-type{
	background-color: var(--link-kleur);
	color: white;
	padding: 0.5em 1em;
	border-radius: 62em;
	margin:0.5em;
}
.iphone main section a:first-of-type:hover{
	text-decoration:none;
}

.iphone main section a:nth-of-type(2){
	margin: 1em
}


/* grid 4 iphones*/
.iphone main section:nth-of-type(4){
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: .25em;
}
.iphone main section:nth-of-type(4) h2{
	font-family: SFR, Arial, Helvetica, sans-serif;
	font-size: 1.3em;
}

.iphone main section:nth-of-type(4) p  {
	font-family: SFR, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: var(--primaire-kleur);
}

.iphone main section:nth-of-type(4) article{
	justify-self: center;
	display: flex;
    flex-direction: column;
}

.iphone main section:nth-of-type(4) article h2{
	padding-top: 1.2em;
}

.iphone main section:nth-of-type(4) article:nth-of-type(4) h2{
display: flex;
align-items: center;
justify-content: center;
}

.iphone main section:nth-of-type(4) article:nth-of-type(4) h2 img{
	width: 1em;
}


/* FOOTER */
footer{
	background-color: var(--footer-background);
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 2em;
	padding-bottom: 2em;
	font-size: 0.75em;

}
footer p{
	padding-top: 1em;
	padding-bottom: 0.7em;
	color: var(--ptekstkleur);
	line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
}
footer p a{
	color: var(--footer-atekstkleur);
	text-decoration: none;
}
footer section:first-of-type details summary{
	font-family: SFR, Arial, Helvetica, sans-serif;
}

footer section:first-of-type details summary:hover{
	color: var(--primaire-kleur);
}

footer section:first-of-type details summary{
	padding: 10px 0px;
	border-bottom: 1px solid var(--footer-border-kleur);
}

/* https://codepen.io/robertspier/pen/NWMapEM?editors=0110 */
/* details en summary */
footer section:first-of-type details > summary {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}

footer section:first-of-type details > summary::after {
	content: "+";
	margin-left: auto;
}

footer section:first-of-type details[open] > summary::after {
	transform: rotate(45deg);
}

footer section:first-of-type summary::-webkit-details-marker {
	display: none;
}

footer section:first-of-type details summary, 
footer section:first-of-type ul li a{
color: var(--ptekstkleur);
}

footer section:first-of-type ul {
	padding-left: 1em;
}

footer section:first-of-type ul li {
	list-style:none;
	margin: 0.5em;
}

footer section:last-of-type p a{
	color: var(--link-kleur);
	text-decoration: none;
}

footer section:last-of-type ul {
	padding-left: 0px;
}

footer section:last-of-type ul li { 
	border-right: 1px solid var(--footer-border-kleur);
	margin-right: 7px;
	padding-right: 10px;
	display: inline-block;
	margin-top: 5px;
	white-space: nowrap;
}

footer ol{
	color: var(--ptekstkleur);
}

footer ol li{
	margin-top: 1.5em;
}

footer ol li a{
	color: var(--footer-atekstkleur);
}

/* home-pagina section 4 blokken responsive*/
 @media (min-width:45em) {

	#section{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.2em;
	}
}

/* navigatie responsive */
@media (min-width:57em) {
	header > button {
	  display:none;
  }
	
  nav {
	  position:static;
	  transform:none;
	  padding:0;  
	  background:none;
  }
	
	nav button {
	  display:none;
  }
	
	nav ul {
	  display:flex;
	  gap:1em;
  }
	
	nav a {
	  flex-direction:column;
	  border:none;
  }

}

/* footer responsive */

 @media (min-width:66em){

	footer > section:first-of-type{
		display: flex;
		flex-direction: row;
		gap: 1em;
	}
	/* details en summary responsive */
	/* https://codepen.io/robertspier/pen/GRGzYEG?editors=0110 */
	/* Disable click on desktop by removing pointer events */
	footer section:first-of-type details {
		pointer-events: none;
	}
	
	 /* Hide the arrow on desktop */
	 footer section:first-of-type details > summary {
	  list-style: none;
	  white-space: nowrap;
	}

	footer section:first-of-type details > summary::-webkit-details-marker {
	  display: none;
	}

	footer section:first-of-type details > summary::after {
		content: "";
	}

	footer section:first-of-type details ul {
		padding-left: 0;
	}
}

	


/* grid responsive */
@media (min-width:66em){
	.iphone main section:nth-of-type(4){
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}


